/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Dosis|Londrina+Solid|Londrina+Shadow');

// Define fonts for body and headers
$base-font: 'Dosis', sans-serif;
$header-font: 'Londrina Solid', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;


$gray: #414547;
$green: #6BC5D2;
$blue: #49AFEA;
$purple: #390050;
$black: #2E3B3E;
$red: #EC3C5C;
$orange: #E67E22;
$yellow: #F9EB4F;

$formz_red: #EC3C5C;
$fbblue: #49AFEA;
$labelgray: #999;
