<p>Bonjour <%= @resource.email %>!</p>

<p> Votre mot de passe a bien été modifié. Pour toute information supplémentaire, contactez nous à l'adresse suivante : info@do-it-abroad.com</p>

<p> Bonne journée ! </p>

<p>L'équipe Do It Abroad</p>
